{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Charity Auctions:</h1>
  {% if auctions_count == 0 %}
  <p>No auctions are currently available</p>
  {% else %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Auction ID</th>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
      </tr>
    </thead>
    <tbody>
      {% for auction in auctions %}
        <tr>
          <th scope="row">{{auction.id}}</th>
          <td><a href="/auctions/{{auction.id}}">{{auction.name}}</a></td>
          <td>{{auction.category}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
  
</div>
{% endblock %}
