{% extends "base.html" %}
{% block content %}
<!-- Display a payment form -->
<div id="checkout">
  <!-- Checkout will insert the payment form here -->
</div>

<script src="https://js.stripe.com/v3/"></script>
<script src="checkout.js" defer></script>
<script>
  // This is your test publishable API key.
    const stripe = Stripe("pk_test_51CElOZLXXLOtYn6NsKia1ZxQrZDirFqFuaoI0KsNBUDLp9E4t8cC7kKYWLJ2yRWRxfMEx1VaGqOPInArt0v5RsyJ00f0KsJUK1");

    const reqUrl = "{{url_for('payments.create_checkout_session', auction_item_id=auction_item.id)}}"
    // Create a Checkout Session as soon as the page loads
    async function initialize() {
      const response = await fetch(reqUrl, {
        method: "POST",
      });

      const { clientSecret } = await response.json();

      const checkout = await stripe.initEmbeddedCheckout({
        clientSecret,
      });

      // Mount Checkout
      checkout.mount('#checkout');
    }

    initialize();
</script>
{% endblock %}
