{% extends "base.html" %}

{% block content %}
<div>
    <h1>User Profile</h1>
    <div class="col-md-6 my-3">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th scope="row">First Name</th>
                    <td>{{current_user.first_name}}</td>
                </tr>
                <tr>
                    <th scope="row">Last Name</th>
                    <td>{{current_user.last_name}}</td>
                </tr>
                <tr>
                    <th scope="row">Email</th>
                    <td>{{current_user.email}}</td>
                </tr>
                <tr>
                    <th scope="row">Username</th>
                    <td>{{current_user.username}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}