{% extends "base.html" %}
{% block content %}
<div>
  <style>
    .carousel-control-prev,
    .carousel-control-next {
        background-color: black !important;
        opacity: 0.5 !important;
    }
    .carousel-control-prev:hover,
    .carousel-control-next:hover {
        background-color: black !important;
        opacity: 0.5 !important;
    }
  </style>
  <h1>{{auction_item.name}}</h1>
  <h5 class="text-body-secondary">Auction Ends: {{auction_item.readable_auction_end()}}</h5>
  <div class="d-flex flex-column flex-md-row justify-content-md-evenly w-100 my-2" >
    {% if auction_item_photos.count() >= 1 %}
      <div class="d-flex justify-content-center w-100 my-3">
        <div class="w-75">
          {% if auction_item_photos.count() == 1 %}
            <img src="{{ url_for('static', filename=auction_item_photos.first().filename) }}" class="img-fluid d-block" alt="{{auction_item_photos.first().filename}}">
          {% else %}
          <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
              {% for auction_item_photo in auction_item_photos %}
                {% if loop.index == 1 %}
                <div class="carousel-item active">
                  <img src="{{ url_for('static', filename=auction_item_photo.filename) }}" class="img-fluid d-block w-100" alt="{{auction_item_photo.filename}}">
                </div>
                {% else %}
                <div class="carousel-item">
                  <img src="{{ url_for('static', filename=auction_item_photo.filename) }}" class="img-fluid d-block w-100" alt="{{auction_item_photo.filename}}">
                </div>
                {% endif %}
              {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          {% endif %}
        </div>
      </div>
    {% endif %}
    <div class="d-flex align-items-center justify-content-center w-100">
      <div class="card w-50">
        <div class="card-body">
          <h5 class="card-title">Auction Item #{{auction_item.id}}</h5>
          <p class="card-subtitle mb-2 text-body-secondary"><a style="text-decoration: none!important;" href="{{url_for('auctions.view_auction', auction_id=auction.id)}}">{{auction.name}}</a></p>
          <div>
            <div class="d-flex flex-column my-2">
                {% if top_bid_summary and top_bid_summary.bids_count > 0 %}
                  <p class="mb-1" style="text-decoration: underline;">
                    <span>{{top_bid_summary.bids_count}}</span>
                    <span>
                      {% if top_bid_summary and top_bid_summary.bids_count == 1 %}
                        Bid
                      {% else %}
                        Bids
                      {% endif %}
                    </span>
                  </p>
                  <h5 class="mb-1">${{top_bid_summary.amount}}</h5>
                  <p class="mb-1"><i class="bi bi-person-circle"></i> {{top_bid_summary.username}}</p>
                {% else %}
                  <p class="mb-1" style="text-decoration: underline;">0 Bids</p>
                {% endif %}
            </div>
            {% if is_auction_item_active %}
              {% if current_user.is_authenticated %}
                <div class="d-flex">
                  <form action="{{ url_for('auction_items.bid_on_auction_item', auction_item_id=auction_item.id) }}">
                    <input class="visually-hidden" name="hidden_auction_item_id" value="{{auction_item.id}}" />
                    <input class="visually-hidden" name="hidden_bid_amount" value="{{next_bid}}" />
                    <input class="visually-hidden" name="hidden_user_id" value="{{current_user.id}}" />
                    <button type="submit" class="btn btn-primary">Bid ${{next_bid}}</button>
                  </form>
                </div>
                <div><a href="{{ url_for('payments.payment', auction_item_id=auction_item.id) }}">Payment Placeholder</a></div>
              {% else %} 
                <div>
                  <p>You must have an account and be authenticated to bid. Please <a href="{{url_for('users.register')}}">create an account</a> or <a href="{{url_for('users.login')}}">login</a> to continue</p>
                  <button type="button" class="btn btn-primary" disabled>Bid {{auction_item.next_bid}}</button>
                </div>
              {% endif %}
            {% else %}
              <div>
                {% if has_auction_ended %}
                  <h6 class="mb-1">Auction is Closed.</h6>
                {% else %}
                  <h6 class="mb-1">Auction has not started yet.  Please check back later.</h6>
                {% endif %}
              </div>
            {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  <div>
    <h3>Item description</h3>
    <p>{{auction_item.description}}</p>
  </div>
</div>
{% endblock %}

