{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>#{{auction_item.id}} {{auction_item.name}}</h1>
  <div>
    <p>{{auction_item.description}}</p>
  </div>
  <div>
    <p>Starting Bid = ${{auction_item.starting_bid}}</p>
    <p>Bid Interval = ${{auction_item.bid_interval}}</p>
  </div>
  <div>
    {% for auction_item_photo in auction_item_photos %}
    <img align='center' src="{{ url_for('static', filename=auction_item_photo.filename) }}">
    {% endfor %}
  </div>
</div>
{% endblock %}

