{% extends "base.html" %}
{% block content %}

<h1>Welcome to SilentBid - Where Every Bid Speaks Volumes</h1>

<p>Discover the thrill of bidding without a word at SilentBid, your premier destination for exclusive online silent auctions. Immerse yourself in a world of curated treasures, unforgettable experiences, and the joy of securing unique items—all while contributing to meaningful causes.</p>

<div class="d-flex flex-row justify-content-center">
    <div class="card" style="width: 18rem; margin-right:5rem;">
        <div class="card-body">
            <h5 class="card-title">Win with Impact</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
            <p class="card-text">Your bids don't just win you incredible items; they support causes that matter. At SilentBid, a percentage of each winning bid goes directly to charitable organizations. Every silent bid contributes to making a positive impact on the world.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem; margin-right:5rem;">
        <div class="card-body">
            <h5 class="card-title">Seamless and Secure</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
            <p class="card-text">Our user-friendly platform ensures a smooth bidding experience. Rest easy knowing that your transactions are secure, and your privacy is our top priority. Bid with confidence, and let the excitement of the auction take center stage.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem">
        <div class="card-body">
            <h5 class="card-title">Bid Anytime, Anywhere</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
            <p class="card-text">Life is busy, but bidding doesn't have to be. SilentBid is accessible from any device, allowing you to bid on your terms, whether you're at home, in the office, or on the go.</p>
        </div>
    </div>
</div>

<div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom">Welcome to SilentBid</h2>

    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
      <div class="col d-flex flex-column align-items-start gap-2">
        <h2 class="fw-bold text-body-emphasis">Where Every Bid Speaks Volumes</h2>
        <p class="text-body-secondary">Discover the thrill of bidding without a word at SilentBid, your premier destination for exclusive online silent auctions. Immerse yourself in a world of curated treasures, unforgettable experiences, and the joy of securing unique items—all while contributing to meaningful causes.</p>
        <a href="#" class="btn btn-primary btn-lg">Primary button</a>
      </div>

      <div class="col">
        <div class="row row-cols-1 row-cols-sm-2 g-4">
          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#collection"></use>
              </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Win with Impact</h4>
            <p class="text-body-secondary">Your bids don't just win you incredible items; they support causes that matter. At SilentBid, a percentage of each winning bid goes directly to charitable organizations. Every silent bid contributes to making a positive impact on the world.</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#gear-fill"></use>
              </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Seamless and Secure</h4>
            <p class="text-body-secondary">Our user-friendly platform ensures a smooth bidding experience. Rest easy knowing that your transactions are secure, and your privacy is our top priority. Bid with confidence, and let the excitement of the auction take center stage.</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#speedometer"></use>
              </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Bid Anytime, Anywhere</h4>
            <p class="text-body-secondary">Life is busy, but bidding doesn't have to be. SilentBid is accessible from any device, allowing you to bid on your terms, whether you're at home, in the office, or on the go.</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#table"></use>
              </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Charity at Heart:</h4>
            <p class="text-body-secondary">We believe in the power of giving back. SilentBid partners with a variety of charitable organizations, ensuring that your bids make a difference in the lives of those who need it most. Join us in making the world a better place—one bid at a time.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}